<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
</head>

<body>

  <h2>All the cupcakes!</h2>
  <ul id="cupcakes-list">

  </ul>

  <h2>Add a cupcake!</h2>
  <form id="new-cupcake-form">
    <div>
      <label for="form-flavor">flavor:</label>
      <input type="text" name="flavor" id="form-flavor">
    </div>

    <div>
      <label for="form-size">size:</label>
      <input type="text" name="size" id="form-size">
    </div>

    <div>
      <label for="form-rating">rating:</label>
      <input type="text" name="rating" id="form-rating">
    </div>

    <div>
      <label for="form-image">image:</label>
      <input type="text" name="image" id="form-image">
    </div>

    <button>add cupcake!</button>
  </form>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/cupcakes.js"></script>
</body>

</html>